<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>eCommerce HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->

</head>

<body>

    <!-- Preloader Start -->

    <!-- Preloader Start -->

    <!-- <header>
       
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top top-bg d-none d-lg-block">
                    <div class="container-fluid">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left d-flex">
                                    <div class="flag">
                                        <img src="assets/img/icon/header_icon.png" alt="">
                                    </div>
                                    <div class="select-this">
                                        <form action="#">
                                            <div class="select-itms">
                                                <select name="select" id="select1">
                                                    <option value="">USA</option>
                                                    <option value="">SPN</option>
                                                    <option value="">CDA</option>
                                                    <option value="">USD</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <ul class="contact-now">
                                        <li>+777 2345 7886</li>
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                    <ul>
                                        <li><a href="login.html">My Account </a></li>
                                        <li><a href="product_list.html">Wish List </a></li>
                                        <li><a href="cart.html">Shopping</a></li>
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                           
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                    <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                               
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="Catagori.html">Catagory</a></li>


                                            <li><a></a></li>

                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">



                                    <li class="d-none d-lg-block me-2">
                                        <a href="login.html" class="btn-grey-outline">Log in</a>
                                    </li>
                                    <li class="d-none d-lg-block">
                                        <a href="signup.html" class="btn-grey">Sign up</a>
                                    </li>

                                </ul>
                            </div>
                            
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </header> -->

    <main>
        <div class="slider-area" style="width: 100%; height: 50vh; position: relative; overflow: hidden;">
            <div class="slider-active" style="width: 100%; height: 100%;">
                <div class="single-slider" style="width: 100%; height: 100%; background-color: black;">
                    <div style="width: 100%; height: 100%;">
                        <img src="assets/img/hero/andrew-svk-7IBuoQQlCKY-unsplash.jpg" alt="Hero Car"
                            style="width: 100%; height: 100%; object-fit: cover; display: block;">
                    </div>
                </div>
            </div>


            <div style="
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: rgba(211, 211, 211, 0.7); /* Light grey, semi-transparent */
                    padding: 20px 40px;
                    border-radius: 8px;
                    text-align: center;
                ">
                <h1 style="margin: 0; font-size: 2rem; color: #1c1c1c; font-weight: 600;">Category</h1>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row mb-4">
                <div class="col text-center">
                    <h3>Select Car Category</h3>
                    <select id="car-category" class="form-select" aria-label="Car Category">
                        <option value="all">All</option>
                        <option value="suv">SUV</option>
                        <option value="sedan">Sedan</option>
                        <option value="mini">Mini</option>
                        <option value="coupe">Coupe</option>
                    </select>
                </div>
            </div>

            <div class="row" id="car-cards">
                <div class="col-md-4 property-item" data-category="suv">
                    <div class="card"
                        onclick="openCarModal('Jeep', '$50/day','10L/100km', 'assets/img/categori/pexels-aaronmcurtis-119435.jpg')">
                        <img src="assets/img/categori/pexels-aaronmcurtis-119435.jpg" class="card-img-top"
                            alt="SUV Car">
                        <div class="card-body">
                            <h5 class="card-title">Jeep</h5>
                            <p class="card-text">Price: $50/day</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 property-item" data-category="suv">
                    <div class="card"
                        onclick="openCarModal('Mercedes G-class', '$40/day','12L/100km', 'assets/img/categori/pexels-lloyd-freeman-599375-1429775.jpg')">
                        <img src="assets/img/categori/pexels-lloyd-freeman-599375-1429775.jpg" class="card-img-top"
                            alt="SUV Car">
                        <div class="card-body">
                            <h5 class="card-title">Mercedes G-class</h5>
                            <p class="card-text">Price: $40/day</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 property-item" data-category="coupe">
                    <div class="card"
                        onclick="openCarModal('Mercedes AMG slg', '$30/day','14L/100km', 'assets/img/categori/pexels-mikebirdy-112460.jpg')">
                        <img src="assets/img/categori/pexels-mikebirdy-112460.jpg" class="card-img-top" alt="Coupe Car">
                        <div class="card-body">
                            <h5 class="card-title">Mercedes AMG slg</h5>
                            <p class="card-text">Price: $30/day</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 property-item" data-category="sedan">
                    <div class="card"
                        onclick="openCarModal('BMW M3', '$60/day','9L/100km', 'assets/img/categori/pexels-mikebirdy-170811.jpg')">
                        <img src="assets/img/categori/pexels-mikebirdy-170811.jpg" class="card-img-top" alt="Sedan Car">
                        <div class="card-body">
                            <h5 class="card-title">BMW M3</h5>
                            <p class="card-text">Price: $60/day</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 property-item" data-category="coupe">
                    <div class="card"
                        onclick="openCarModal('Mercedes A-clas Coupe', '$60/day','7L/100km', 'assets/img/categori/pexels-mikebirdy-810357.jpg')">
                        <img src="assets/img/categori/pexels-mikebirdy-810357.jpg" class="card-img-top" alt="Coupe Car">
                        <div class="card-body">
                            <h5 class="card-title">Mercedes A-clas Coupe</h5>
                            <p class="card-text">Price: $60/day</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 property-item" data-category="suv">
                    <div class="card"
                        onclick="openCarModal('Jeep', '$60/day','11L/100km', 'assets/img/categori/pexels-zsolt-joo-483255-2882234.jpg')">
                        <img src="assets/img/categori/pexels-zsolt-joo-483255-2882234.jpg" class="card-img-top"
                            alt="SUV Car">
                        <div class="card-body">
                            <h5 class="card-title">Jeep</h5>
                            <p class="card-text">Price: $60/day</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 property-item" data-category="coupe">
                    <div class="card"
                        onclick="openCarModal('Blue Alpine Coupe', '$60/day','9L/100km', 'assets/img/categori/pexels-alexgtacar-745150-1592384.jpg')">
                        <img src="assets/img/categori/pexels-alexgtacar-745150-1592384.jpg" class="card-img-top"
                            alt="Coupe Car">
                        <div class="card-body">
                            <h5 class="card-title">Blue Alpine Coupe</h5>
                            <p class="card-text">Price: $60/day</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 property-item" data-category="sedan">
                    <div class="card"
                        onclick="openCarModal('Audi a7', '$60/day', '8L/100km','assets/img/categori/pexels-mladenscekic-17217573.jpg')">
                        <img src="assets/img/categori/pexels-mladenscekic-17217573.jpg" class="card-img-top"
                            alt="Sedan Car">
                        <div class="card-body">
                            <h5 class="card-title">Audi a7</h5>
                            <p class="card-text">Price: $60/day</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL -->
        <!-- MODAL -->
        <div class="modal fade" id="carModal" tabindex="-1" aria-labelledby="carModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content bg-dark text-white">
                    <div class="modal-header border-0">
                        <h5 class="modal-title text-white" id="carModalLabel">Car Details</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-white">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <img id="carImage" src="" class="img-fluid rounded" alt="Car Image">
                            </div>
                            <div class="col-md-6">
                                <p><strong class="text-white">Car:</strong> <span id="carName"
                                        class="text-white"></span></p>
                                <p><strong class="text-white">Kilometers:</strong> <span id="carKm"
                                        class="text-white"></span>
                                </p>
                                <p><strong class="text-white">Fuel Consumption:</strong> <span id="carFuel"
                                        class="text-white"></span></p>

                                <!-- Date Picker -->
                                <div class="form-group mt-3">
                                    <label for="rentalDate" class="form-label text-white">Pick a rental date:</label>
                                    <input type="date" id="rentalDate"
                                        class="form-control bg-dark text-white border-light">
                                </div>

                                <!-- Phone Number -->
                                <div class="form-group mt-3">
                                    <label for="phoneNumber" class="form-label text-white">Phone Number:</label>
                                    <input type="tel" id="phoneNumber"
                                        class="form-control bg-dark text-white border-light"
                                        placeholder="e.g. +1 234 567 890">
                                </div>

                                <!-- Booking Place -->
                                <!-- Pickup Address -->
                                <div class="form-group mt-3">
                                    <label for="pickupLocation" class="form-label text-white">Enter Pickup
                                        Address:</label>
                                    <input type="text" id="pickupLocation"
                                        class="form-control bg-dark text-white border-light"
                                        placeholder="e.g. 123 Main St, Auto City">
                                </div>

                                <!-- Review -->
                                <div class="form-group mt-4">
                                    <label for="carReview" class="form-label text-white">Leave a review:</label>
                                    <textarea id="carReview" class="form-control bg-dark text-white border-light"
                                        rows="3" placeholder="Write your thoughts"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Footer -->
                    <div class="modal-footer border-top-0">
                        <button type="button" class="btn btn-dark text-white" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-dark text-white">Rent Now</button>
                    </div>
                </div>
            </div>
        </div>



        <!-- End Nav Card -->


        <!-- Latest Products End -->
        <section id="contact" style="background-color: #2e2e2e; padding: 60px 0;">
            <div class="container">
                <div class="row justify-content-center mb-4">
                    <div class="col-lg-8 text-center">
                        <h2 style="color: #fff;">Get in Touch</h2>
                        <p style="color: #fff;">Have questions or need help? Reach out to us any time!</p>
                    </div>
                </div>
                <div class="row justify-content-center text-center">
                    <div class="col-md-6 mb-3">
                        <div style="background-color: #3a3a3a; padding: 30px; border-radius: 10px;">
                            <h4 style="color: #f2f2f2;">Email Us</h4>
                            <p style="color: #ccc;">support@carrentalhub.com</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div style="background-color: #3a3a3a; padding: 30px; border-radius: 10px;">
                            <h4 style="color: #f2f2f2;">Call Us</h4>
                            <p style="color: #ccc;">+1 (800) 987-6543</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Gallery Start-->
        <div class="gallery-wrapper" style="padding: 0; margin: 0;">
            <div class="gallery-area" style="padding: 0;">
                <div class="container-fluid p-0">
                    <div class="row no-gutters">
                        <div class="col gallery-items p-0">
                            <img src="assets/img/gallery/by Sam Johnson.jpg" alt="">
                        </div>
                        <div class="col gallery-items p-0">
                            <img src="assets/img/gallery/download (1).jpg" alt="">
                        </div>
                        <div class="col gallery-items p-0">
                            <img src="assets/img/gallery/download (2).jpg" alt="">
                        </div>
                        <div class="col gallery-items p-0">
                            <img src="assets/img/gallery/download (3).jpg" alt="">
                        </div>
                        <div class="col gallery-items p-0">
                            <img src="assets/img/gallery/🕷.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact Section -->


        <!-- Gallery End-->

    </main>
    <!-- Footer Start-->
    <!-- <footer>
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-logo mb-30">
                                <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                            </div>
                            <p class="text-light">Your trusted partner for comfortable, safe, and affordable car rentals
                                anywhere you go.</p>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <h4 class="text-light">Quick Links</h4>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Fleet</a></li>
                                <li><a href="#">Deals</a></li>
                                <li><a href="#">Support</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <h4 class="text-light">Top Rentals</h4>
                            <ul>
                                <li><a href="#">SUVs for the Weekend</a></li>
                                <li><a href="#">Sedans for the City</a></li>
                                <li><a href="#">Convertibles for Getaways</a></li>
                                <li><a href="#">Long-Term Rentals</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <h4 class="text-light">Contact Info</h4>
                            <ul>
                                <li><a href="#">+1 (555) 123-4567</a></li>
                                <li><a href="#">support@rentaldrive.com</a></li>
                                <li><a href="#">123 Highway Lane, Auto City, USA</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                
                <div class="row mt-4">
                    <div class="col-md-6">
                        <p class="text-light mb-0">&copy;
                            <script>document.write(new Date().getFullYear());</script> RentalDrive. All rights reserved.
                        </p>
                    </div>
                    <div class="col-md-6 text-md-end">
                        <div class="footer-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer> -->


    <!-- JS here -->

    <!-- filter-->



</body>

</html>
<script>
$(document).ready(function () {
  RestClient.get("cars", function (cars) {
    const container = $("#car-list");
    if (!container.length) return;
    container.empty();
    cars.forEach(car => {
      container.append(`
        <div class="card p-3 m-2">
          <h5>${car.name}</h5>
          <p>Price: ${car.price_per_day} KM/day</p>
          <button class="btn btn-primary book-btn" data-id="${car.id}">Book</button>
        </div>
      `);
    });

    $(document).on("click", ".book-btn", function () {
      const carId = $(this).data("id");
      const user = Utils.parseJwt(localStorage.getItem("user_token"))?.user;
      const booking = {
        user_id: user.id,
        car_id: carId,
        rental_date: new Date().toISOString().split("T")[0],
        pickup_location: "Frontend Booking",
        phone_number: "+38760000000"
      };
      RestClient.post("bookings", booking, function () {
        alert("Booking successful!");
      });
    });
  });
});
</script>